.btn-primary {
  border-radius: 20px;
}

.header {
  background-color: #dfe9f3;
  padding: 100px 0px;
  position: relative;
}
.header-contents h2 {
  font-size: 32px;
  font-weight: 400;
  padding-top: 20px;
}
.header-contents::after {
  content: "";
  display: block;
  position: absolute;
  top: 21%;
  left: 47%;
  width: 5%;
  border: 1px solid #3763eb;
}
.header-contents p {
  width: 500px;
  margin: auto;
  padding: 57px 0px;
}
.header-contents a {
  text-decoration: none;
  font-size: 20px;
}
/* =============== */
.pricing-tables {
  background-color: #fff;
  padding-bottom: 70px;
  position: relative;
  width: 30%;
  margin: 5px;
  box-sizing: border-box !important;
  transition: 0.4s;
}
.pricing-tables:hover {
  background-color: #1043dde5;
}
.pricing-tables:hover .btn-primary {
  background-color: #fff;
  color: #111;
}
.pricing-tables .btn-primary:hover {
  background-color: #1043dde5;
  overflow: hidden;
  transition: 0.4s;
}
.btn-primary {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.pricing-tables .btn-primary::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #1043dde5;
  border-color: #1043dde5;
  z-index: -1;

  transition: 0.4s;
}
.pricing-tables .btn-primary:hover::after {
  width: 100%;
}
.pricing-tables::after {
  content: "";
  position: absolute;
  display: block;
  top: 161px;
  left: 77px;
  width: 58%;
  border: 1px solid rgb(196, 188, 188);
}
.pricing-tables h3 {
  padding-top: 32px;
  font-size: 26px;
}
.pricing-tables p {
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 56px;
}
.pricing-tables h5 {
  padding-top: 12px;
  font-size: 17px;
  color: black;
  padding-bottom: 10px;
}
.pricing-tables a {
  font-weight: 600;
  padding: 6px 13px;
}
.pricing-tables:hover {
  color: white;
}
/*  banner section */
.banner-section {
  background-image: url(./free-bg.jpg);
  padding: 150px 0px;
  color: white;
  position: relative;
  z-index: 1;
}
.banner-section::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3764ebaf;
  z-index: -1;
}
.banner-section::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 48%;
  width: 5%;
  border: 1px solid #fff;
}
.banner-section .btn-primary:hover {
  border-color: #fff;
  color: #fff !important;
}
.banner-section .btn-primary {
  position: relative;
  z-index: 1;
  background-color: #fff !important;
  color: #3763eb !important;
  font-weight: 700;
}
.banner-section .btn-primary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1747d8e5;
  z-index: -1;

  transition: 0.4s;
}
.banner-section .btn-primary:hover::after {
  width: 100%;
}
.banner-section h3 {
}
.banner-section h4 {
  width: 405px;
  margin: auto;
  padding: 30px 0px;
  font-size: 27px;
  font-weight: 600;
}
.banner-section p {
  width: 600px;
  margin: auto;
  font-size: 21px;
  font-weight: 600;
  padding-bottom: 30px;
}

.banner-section a {
}
/* newslatter section */
.newslatter {
  padding: 60px 0px;
  color: white;
}
.newsletter-box-1 {
  background-color: #3763eb;
  padding: 30px 0px 50px 30px;
}
.news-letter-item-1 p {
  width: 294px;
  padding: 20px 0;
}
.input-button {
  padding-right: 51px;
  border-radius: 20px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
}
.box-2 {
  position: relative;
}
.news-letter-items-2 a {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 142px;
  left: 0;
  border: 1px solid white;
  padding: 6px 20px;
  border-radius: 20px;
}

.news-letter-box-2 {
  color: #111;
  margin: auto;
  box-shadow: 2px -1px 7px -4px;
  padding-bottom: 33px;
}
.news-letter-box-2 p {
  width: 242px;
  margin-left: 19px;
  padding: 16px;
}
.news-letter-box-2 a {
  margin-top: 70px;
  margin-left: 34px;
}
